// .MuiInputBase-root {
//     border-radius: 8px;
// }
.base {
    .MuiInputBase-root {
        border-radius: 8px;
        max-width: 322px;
    }

    .MuiFilledInput-root::before {
        border-bottom: 0;
    }
}

.disabled {
    svg {
        display: none;
    }
}

.focused {
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #6c6f80;
    }

    .MuiInputLabel-root {
        color: #6c6f80;
    }
}

.error {
    svg {
        color: #f64f63;
    }
}
